.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  display: flex;
  object-position: center top;
  margin-Top: 8;
  flex-Direction: column;
  align-Items: center;
}


.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Email {
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Login {
  background-color: rgb(4, 53, 118);
  color: white;
}

.App-title {
  color: white;
}

.form-control {
  color: white;
}

#pwd {
  margin-left: 30px;
}

body {
  background-color: #002856;
}



main {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: .1px;
}

#root {
  color: black;
  /* background-color: #002856; */
}

.forgot {
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}


#login-error-msg {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  text-align: center;
  margin: 0;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #8a0000;
  background-color: #d32f2f;
  border-radius: 4px;
  padding: 6px 16px;
  display: none;
}

#reset-error-msg {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  text-align: center;
  margin: 15px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #8a0000;
  background-color: #d32f2f;
  border-radius: 4px;
  padding: 6px 16px;
  display: none;
  margin-bottom: -10px;
  margin-left: 20%;
}