.App {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contentContainer {
    background-color: #F8F8FF;
    flex-shrink: 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: -6px;
    min-height: 735px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

TableRow {
    margin-top: 10px;
    cursor: grab;
}

.tableGrid {
    padding: 25px;
}

.inputContainer {
    width: 60%;
}
.alertTest
{
    background-color: transparent;
}
.linkAdmin
{
    background-color: #002856;
    color:  white;
    border: groove #002856;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin: 10px;
}
.linkAdminEdit
{
    background-color: #002856;
    color:  white;
    border: groove #002856;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;

}

.infoTest
{
    display: grid;
    width: 30%;
    margin-top: -70px;
    
}
.infoName
{
    margin-top: -20px;
    margin-bottom: -10px;
}
/* v w3schools v */
.navbar {
    overflow: hidden;
    margin-bottom: 50px;
}
.dropdown {
    float: left;
    background-color: #002856;
    overflow: hidden;
    display: block;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: block;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* ^ w3schools ^ */
#styleTest
{
    border:2px solid #090909;
    width:100px;
    height:100px;
    background-color: #ffffff;
}
.green
{
    background-color: rgb(7, 145, 83) !important;
    color:#ffffff;
}