.App {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contentContainer {
    background-color: #F8F8FF;
    flex-shrink: 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: -6px;
    min-height: 735px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

TableRow {
    margin-top: 10px;
    cursor: grab;
}

.tableGrid {
    padding: 25px;
}

.inputContainer {
    width: 60%;
}
.alertTest
{
    background-color: transparent;
}
.linkAdmin
{
    background-color: #002856;
    color:  white;
    border: groove #002856;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin: 10px;
}
.linkAdminEdit
{
    background-color: #002856;
    color:  white;
    border: groove #002856;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;

}
.account
{
    background-color: #002856;
    color:  white;
    border: groove #002856;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 20%;
    margin-left: 850px;
    
}
.username
{
    display: grid;
    background-color: #002856;
    color:  white;
    border: groove #002856;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 10%;
    margin-bottom: -50px;
   
}
.infoTest
{
    display: grid;
    width: 30%;
    margin-top: -70px;
    
}
.infoName
{
    margin-top: -20px;
    margin-bottom: -10px;
}