.profileContainer {
    display: flex;
    background-color: #F8F8FF;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: -6px;
    min-height: 730px;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
}

row {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100%
}