.App {
  text-align: center;

}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Email {
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Login {
  background-color: rgb(4, 53, 118);
  color: white;
}

.App-title {
  color: white;
}

.form-control {
  color: white;
}

#pwd {
  margin-left: 30px;
}

body {
  background-color: rgb(0, 40, 86);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(0deg);
  }
}