.App {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    background: rgb(0, 40, 86);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(36, 50, 93, 0.06);
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
}


#header .logo img {
    max-height: 40px;
}

.tableContainer {
    background-color: #F8F8FF;
    padding-left: 50px;
    padding-top: 30px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

TableRow {
    margin-top: 10px;
}

.tableGrid {
    padding: 25px;
}